html, body {
  height: 110%; /* Ensure the elements cover the full height of the viewport */
  background-color: #202035; /* Set your desired background color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-background {
  background: linear-gradient(to right, #2E3192, #11c5c5); 
}

.dark-blue-background {
  background: linear-gradient(to right, #202035, #202035);
}


.height {
  height: 700px !important;
}

.text-align {
  text-align: center;
}

.color-black {
  color: black !important;
}


